<center><h2>F O R  <br> Y O U R  <br>  C O N S I D E R A T I O N</h2></center><br>
<h6><!-- Community is everything; this is what I’ve come to learn. No matter the field, the profession, the preference or the people- community can make or break whatever you’re trying to cultivate. People are my passion and the thought of bringing people and ideas together as a part of my career is thrilling. I am a very detail-oriented, organizationally centered, plan-based person. I love to help others create and execute their visions. I first encountered the tech scene in Charlotte by independently attending a Friday TechTalk at Skookum Digital Works. There is where I first heard Betsy share about Tech Talent South and the Coding Immersion Program they run. This is when I sought her out for coffee and made the choice to step into this community officially. Since that fateful day, I have made numerous, long term connections. Also my weekly involvement in the teachings at @809 for our Kids Code Thursdays through TTS has been so beneficial to me. Just in the short time that I have been involved in the tech community here in Charlotte, it has impacted me greatly. I love the life that exists already in this community but even more so, I desire to have a hand in seeing these great visions (big or minuscule) come to pass. I have heart and am an extremely committed and loyal worker. I would love this opportunity to help people, connect our community more and get involved in any way possible. --></h6>
</center>
<br>
<!-- 
<h4>For your consideration....</h4> -->
<br>


<!-- <h3> Kaitlin S. Littlejohn</h3>
<h5> 2225 Winter Street | Charlotte, NC 28203
Cell: 803-325-4076 | kaitsummers@gmail.com <br> -->
<h3><u>Software Engineering</u></h3>
<h5>● Graduate of Tech Talent South Full Time Code Immersion Program, offering a strong foundation in software engineering and programming principles utilizing Ruby on Rails<br>
● Quickly learn and master new technologies; successful in managing and mentoring a group, working in a team, and self-directed settings<br>
● I love to learn and am excited that whatever job I step into, I will be able to continue to grow and advance my skill sets in a way that will benefit my team and myself.<br></h5>
<h3><u>Education</u></h3>
<h4>Tech Talent South</h4><h5>Charlotte, NC  4/2014 - 6/2014<br>
Full Time Code Immersion Program<br>
● Ruby<br>
● Ruby on Rails<br>
● Domain Modeling<br>
● HTML/CSS<br>
● Javascript and AJAX<br>
● Understanding and Utilizing APIs</h5>
<br>
<h4>Self-Paced/Self-Taught</h4><h5> Courses 2014<Br>
● Web Fundamentals Treehouse<br>
● Ruby Treehouse<br>
● HTML and CSS Treehouse</h5>
<br>
<h4>University of the Nations</h4><h5>Cape Town, South Africa 2012-2013<br>
Volunteer based work/training.<br>
● I mainly taught English in South Africa and also Southeast Asia for a time.</h5>
<br>
<h4>York Tech College</h4><h5> Rock Hill, SC 2011<Br>
Undergrad/General Education Courses</h5>
<br>
<h4>Pulaski County High School</h4><h5> Dublin, VA 2009<br>
Graduated</h5>
<br>
<h3><u>Work Experience</h3></u>
<h4>Kids Code Thursdays</h4><h5> Charlotte, NC 2014<br>
Teaching Instructor<br>
● Taught 8-12 year olds the fundamentals of coding, from basic HTML websites to creating a functioning game with Ruby.<br>
● Created lesson plans for weekly sessions, and organized activities for the students.<br>
● Coordinated with fellow teachers in the preparation process.<br>
● Assisted other teachers during their times of leading sessions.<br>


<h4>Planet 21</h4> <h5>Charlotte, NC 10/2013-Present<br>
Receptionist<br>
● Help directly assist the owners of the company in the daily functionalities of the salon, also communicating with their two other locations.<br>
● Work with clients throughout the day, gaining information, working with their schedules, and assisting them when present at establishment.<br>
● Work closely with stylists, updating their daily work schedules, passing along company information, and helping operations run smoothly.<br>

<h3><u>Technology Summary</u></h3>
<h5>Ruby on Rails, Ruby, HTML/CSS</h5>
<br>




<br><br>
<!-- <%= image_tag('respic.jpg', width: 50, height: 40); %> -->

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  
  </tbody>
</table>

<br>


